.task-item {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #3e3f4e;
    opacity: 1;
    transition: opacity 100ms ease-in-out;

    &:nth-child(even) {
        background-color: #434455;
    }

    &__task-project {
        text-align: right;
        flex: 1;
    }

    span {
        &.circle {
            display: block;
            width: 17px;
            height: 17px;
            border: 2px solid #f0f0f0;
            border-radius: 100%;

            &.checked {
                background-color: #65a3d1;
            }
        }

        &.project {
            display: inline-block;
            font-size: 9px;
            line-height: 1;
            font-weight: 100;
            border: 1px solid red;
            padding: 3px 4px;
            border-radius: 4px;
            margin-top: 4px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .task-item__form-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }

        .task-item__completed-box {
            width: 17px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 15px;
        }

        p {
            font-size: 14px;
            color: #f0f0f0;
        }
    }

    &__edit {
        background-color: #434455;
        padding: 7px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .task-item:nth-child(even) & {
            background-color: #3e3f4e;
        }

        span {
            &.delete {
                border-color: #ea4141;
            }
        }
    }
}
