.user-tag {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
        margin-left: 11px;
        font-weight: 700;
        font-size: 14px;
        color: #4d4d4d;
    }
}
