.c-task-item {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #f9f9f9;
    margin-bottom: 5px;

    form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .c-task-item__form-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        input {
            margin-right: 15px;
        }

        p {
            font-size: 14px;
            color: #4d4d4d;
        }

        button {
            font-size: 16px;
            background-color: red;
            border: none;
            color: white;
            line-height: 0;
            width: 25px;
            height: 25px;
        }
    }
}
