.new-task-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    input[type="text"] {
        width: calc(100% - 140px);
        padding: 12px;
        font-size: 20px;
    }

    input[type="submit"] {
        width: 140px;
        font-size: 16px;
        background-color: blue;
        border: none;
        color: white;
        padding: 12px;
    }
}
